<!DOCTYPE html>
<html lang="es">
	<!-- Head -->
	<%- include("./partials/head") %>
	<!-- Head -->

	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- Header -->

	<!-- Banner -->
	<div class="banner">
		<img src="images/banner bmw.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% productos.forEach(element => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image" style="background-image: url(images/products/autos/<%=element.dataValues.foto%>)"></figure>
							<article class="product-box_data">
								<h2 class="fjalla"><%= element.dataValues.nombre %></h2>
								<p class="ubuntu"><%= element.dataValues.descripcion %></p>
								<p class="ubuntu">Comentarios:</p>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% productos.forEach(element => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image" style="background-image: url(images/products/autos/<%=element.dataValues.foto%>)"></figure>
							<article class="product-box_data ubuntu">
								<h2 class="fjalla"><%= element.dataValues.nombre %></h2>
								<p><%= element.dataValues.descripcion %></p>
								<p>Comentarios:</p>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
		</div>
	</div>
	<!-- /Más comentados -->

	<!-- Footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- Footer -->
</html>