<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include("./partials/head") %>
<!-- Head -->

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
		</div>
		<div class="form-container ubuntu">
			<form action="/login" method="POST">
				<div class="campo">
					<label for="email">Email</label>
					<input type="email" placeholder="Ingresar email" name="email" value="<%= locals && locals.old ? old.email:"" %>">
					<% if (error.email) { %>
						<p style="color: red;"><%= error.email.msg %></p>
					<% } %>
				</div>
				<div class="campo ">
					<label for="contraseña">Contraseña</label>
					<input type="password" placeholder="Ingresar contraseña" name="contraseña">
					<% if (error.contraseña) { %>
						<p style="color: red;"><%= error.contraseña.msg %></p>
					<% } %>
				</div>
				<div class="campo">
					<label for="recordar">Recordarme</label>
					<input type="checkbox" name="recordar" id="">
				</div>
				<button type="submit">Ingresar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- /footer -->
</body>

</html>