<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- Head -->
<%- include("./partials/head") %>
	<!-- Head -->

	<body>
		<!-- Header -->
		<%- include("./partials/header") %>
		<!-- /Header -->

			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title fjalla">
						<%=product[0].nombre%>
					</h2>
					<p class="product-detail-description">
						<a href="/product/product-add">Editar</a>
					</p>
				</div>

				<div class="product-detail ubuntu">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img class="product-detail-img" src=<%=product[0].foto%>
							<p class="product-detail-description desc">
								<%= product[0].descripcion %>
							</p>
						</article>

						<div class="col-12 col-lg-4">
							<section class="comments">
								<% for(let i=0; i < product[0].comentarios.length; i++) { %>

									<article>
										<img src="images/users/pibe gris.jpg" alt="">

										<div class="data">
											<p class="user">
												<strong> <a href="/profile">
														<%= product[0].comentarios[i].nombre %>
													</a> </strong>
												<%= product[4].comentarios[i].comentario %>
											</p>
										</div>

									</article>
									<% } %>
							</section>

							<form action="/product" method="get" class="form">
								<input type="text" value="" placeholder="Agregar comentario" required>
								<button type="submit" class="buy-now-button ">AGREGAR COMENTARIO</button>
							</form>

						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->
			<!-- footer -->
			<%- include("./partials/footer") %>
				<!-- /footer -->

	</body>

</html>