<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include("./partials/head") %>
<!-- Head -->

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado.ejs") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
		</div>
		<div class="form-container ubuntu">
			<form action="/product/product-add" method="post">
				<div class="campo">
				<!-- Fercho tenes que hacer las validaciones de esto tambien -->
					<label for="foto">Imagen</label>
					<input type="text" name="foto" id="" value="<%= locals.old ? old.foto : "" %>">
					<% if (locals.error && error.foto) { %>
						<p style="color: red;"><%= error.foto.msg %></p>
					<% } %>
				</div>
				<div class="campo">
					<label for="producto">Nombre del Producto</label>
					<input type="text" name="producto" value="<%= locals.old ? old.producto : "" %>">
					<% if (locals.error && error.producto) { %>
						<p style="color: red;"><%= error.producto.msg %></p>
					<% } %>
				</div>
				<div class="campo">
					<label for="descripcion">Descripción del Producto</label>
					<textarea name="descripcion" id="" cols="30" rows="10"><%= locals.old ? old.descripcion : "" %></textarea>
					<% if (locals.error && error.descripcion) { %>
						<p style="color: red;"><%= error.descripcion.msg %></p>
					<% } %>
				</div>
				<button type="submit">Agregar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- /footer -->
</body>

</html>