<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- Head -->
<%- include("./partials/head") %>
<!-- Head -->

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Registrate</h2>
			</div>
		</div>
		<div class="form-container ubuntu">
			<form action="/register" method="POST"> <!-- Lo mandamos por POST ya que el form contiene informacion sensible -->
				<div class="campo">
					<label for="email">Email</label>
					<input type="email" placeholder="Ingresar email" name="email">
					<% if (locals.error && error.email) { %>
						<p style="color: red;"><%= error.email.msg %></p>
					<% } %>
				</div>
				<div class="campo">
					<label for="usuario">Usuario</label>
					<input type="text" name="usuario">
					<% if (locals.error && error.usuario) { %>
						<p style="color: red;"><%= error.usuario.msg %></p>
					<% } %>
				</div>
				<div class="campo ">
					<label for="contraseña">Contraseña</label>
					<input type="password" name="contraseña">
					<% if (locals.error && error.contraseña) { %>
						<p style="color: red;"><%= error.contraseña.msg %></p>
					<% } %>
				</div>
				<div class="campo">
					<label for="fecha">Fecha de Nacimiento</label>
					<input type="date" name="fecha" id="">
				</div>
				<div class="campo">
					<label for="dni">Número de Documento</label>
					<input type="number" name="dni" id="">
					<% if (locals.error && error.dni) { %>
						<p style="color: red;"><%= error.dni.msg %></p>
					<% } %>
				</div>
				<div class="campo">
					<label for="foto">Foto de perfil</label>
					<input type="text" name="foto" id="">
				</div>
				<button type="submit">Registrarme</button>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- /footer -->
</body>

</html>