<!DOCTYPE html>
<html lang="es">
	<!-- Head -->
	<%- include("./partials/head") %>
	<!-- Head -->
	<!-- Header -->
	<% if (user) { %>
	<%- include("./partials/headerLogueado") %>
	<% }else{ %>
	<%- include("./partials/header") %>
	<% } %>
	<!-- Header -->

	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title fjalla">Buscador</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% productos.forEach(element => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image" style="background-image: url(<%=element.foto%>)"></figure>
							<article class="product-box_data ubuntu">
								<h2 class="fjalla"><%= element.nombre %></h2>
								<p><%= element.descripcion %></p>
								<p>Comentarios: <%=element.comentarios.length%></p>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
		</div>
	</div>
	<!-- /Novedades -->
	

	<!-- Footer -->
	<%- include("./partials/footer.ejs") %>
	<!-- Footer -->
</html>